.mJGCXy8lo66R1DHzKIZjC {
  text-align: center; }
html, body {
  height: 100%;
  margin: 0 auto;
  background-color: #3B3D51;
  color: #000000; }

._3Tvn6rEW1bw2bAaEQf19l7 {
  text-align: center; }

/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px; }
